In [1]:
import pandas as pd
import numpy as np
from Functions import get_category, get_subcategory, get_price, check_nulls, drop_column_by_str, upper_columns, get_condition_from_type, drop_row_by_str, get_euros, get_lenght_beam, get_year, get_manufacturer, remove_accents, get_material, get_engine_details, column_type, get_draught, convert_value_type, get_upper_values, get_draught

Opening the daframe from the CSV we've saved before:

In [2]:
#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)
#pd.set_option('display.width', None)

In [3]:
df = pd.read_csv("../CSV/full_initial_df.csv")

/var/folders/cg/d0ycw3dj0s35gf2j2s06p71c0000gn/T/ipykernel_2333/679804055.py:1: DtypeWarning: Columns (51,67,71,74,75,76,77,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../CSV/full_initial_df.csv")

In [4]:
df = upper_columns(df)

In [5]:
df = remove_accents(df, ['DESCRIPTION', 'MODEL', 'MANUFACTURER'])

In [6]:
# tool we've created to easily check null values in our dataframe:
check_nulls(df)

ID
Number of nulls: 0

MODEL
Number of nulls: 1422

TYPE
Number of nulls: 169

LOCATION
Number of nulls: 2340

PRICE
Number of nulls: 3703

UNNAMED: 5
Number of nulls: 16517

LENGTH X BEAM
Number of nulls: 1540

DISPLACEMENT
Number of nulls: 9835

ENGINE
Number of nulls: 5793

ENGINE PERFORMANCE
Number of nulls: 6737

DESCRIPTION
Number of nulls: 14685

LINK
Number of nulls: 0

EXCL. VAT
Number of nulls: 19434

YEAR BUILT
Number of nulls: 4798

DRAUGHT
Number of nulls: 8055

MATERIAL
Number of nulls: 6938

NO. OF CABINS
Number of nulls: 11959

NO. OF BERTHS
Number of nulls: 11856

FUEL TYPE
Number of nulls: 6452

INCL. VAT
Number of nulls: 15756

CERTIFIED NO. OF PERSONS
Number of nulls: 12346

ENGINE HOURS
Number of nulls: 14339

HULL COLOR
Number of nulls: 15665

MODEL YEAR
Number of nulls: 18938

MANUFACTURER
Number of nulls: 18938

CRUISING SPEED
Number of nulls: 20085

MAX SPEED
Number of nulls: 19509

FRESH WATER TANK
Number of nulls: 14068

FUEL TANK
Number of nulls: 19479

INCL. VAT (CAN BE STATED SEPARATELY), NEW BOAT ON ORDER
Number of nulls: 20921

BASIS FOR NEGOTIATION, WHEN IMPORTING INTO THE EU, CUSTOMS AND IMPORT SALES TAX MAY BE CHARGED
Number of nulls: 20759

CONDITION
Number of nulls: 14927

STEERING
Number of nulls: 19002

BALLAST
Number of nulls: 20409

PROPULSION
Number of nulls: 11056

EU TAXES PAID
Number of nulls: 19937

CE DESIGN CATEGORY
Number of nulls: 16809

HULL TYPE
Number of nulls: 17555

TOILETS
Number of nulls: 17454

ENGINE YEAR
Number of nulls: 18439

KEEL TYPE
Number of nulls: 19360

WEIGHT
Number of nulls: 20143

HEADROOM
Number of nulls: 18368

NO. OF BATHROOMS
Number of nulls: 19661

HOLDING TANK
Number of nulls: 18679

BASIS FOR NEGOTIATION
Number of nulls: 20221

BOAT NAME
Number of nulls: 19560

EXCL. VAT, NEW BOAT ON ORDER
Number of nulls: 20938

INCL. 7.7% SWISS VAT
Number of nulls: 20183

SHOWERS
Number of nulls: 18573

INCL. 7.7% SWISS VAT, NEW BOAT ON ORDER
Number of nulls: 20593

INCL. 7.7% SWISS VAT, PREORDERED
Number of nulls: 21049

WHEN IMPORTING INTO THE EU, CUSTOMS AND IMPORT SALES TAX MAY BE CHARGED
Number of nulls: 20791

MAINSAIL
Number of nulls: 19798

JIB
Number of nulls: 20185

BASIS FOR NEGOTIATION, EU TAXES PAID
Number of nulls: 20632

RANGE
Number of nulls: 20929

INCL. VAT (CAN BE STATED SEPARATELY), PREORDERED
Number of nulls: 20987

GENOA
Number of nulls: 20255

SPINNAKER
Number of nulls: 20748

GENNAKER
Number of nulls: 20826

INCL. VAT, NEW BOAT ON ORDER
Number of nulls: 20860

INCL. VAT (CAN BE STATED SEPARATELY)
Number of nulls: 20297

INCL. VAT, PREORDERED
Number of nulls: 20956

EXCL. VAT, PREORDERED
Number of nulls: 21043

INCL. VAT, EU TAXES PAID
Number of nulls: 20798

PAY LOAD
Number of nulls: 20988

INCL. 7.7% SWISS VAT, PREORDERED, EXPECTED OCTOBER 2024
Number of nulls: 21106

EXCPECTED DELIVERY DATE
Number of nulls: 20967

INCL. VAT (CAN BE STATED SEPARATELY), EU TAXES PAID
Number of nulls: 21083

EU TAXES PAID, NEW BOAT ON ORDER
Number of nulls: 21100

INCL. VAT, PREORDERED, EXPECTED JULY 2023
Number of nulls: 21105

INCL. 7.7% SWISS VAT (CAN BE STATED SEPARATELY)
Number of nulls: 21076

STARTING PRICE
Number of nulls: 21063

EU TAXES PAID, PREORDERED, EXPECTED MAY 2024
Number of nulls: 21107

INCL. VAT, PREORDERED, EXPECTED AUGUST 2023
Number of nulls: 21102

EXCL. VAT, EU TAXES PAID
Number of nulls: 21096

BASIS FOR NEGOTIATION, WHEN IMPORTING INTO THE EU, CUSTOMS AND IMPORT SALES TAX MAY BE CHARGED, EU TAXES PAID
Number of nulls: 21106

PREORDERED
Number of nulls: 21083

INCL. VAT (CAN BE STATED SEPARATELY), PREORDERED, EXPECTED JUNE 2023
Number of nulls: 21101

NEW BOAT ON ORDER
Number of nulls: 21017

EU TAXES PAID, PREORDERED, EXPECTED JUNE 2023
Number of nulls: 21107

INCL. VAT, PREORDERED, EXPECTED JANUARY 2024
Number of nulls: 21107

INCL. VAT (CAN BE STATED SEPARATELY), PREORDERED, EXPECTED MARCH 2024
Number of nulls: 21107

INCL. 7.7% SWISS VAT (CAN BE STATED SEPARATELY), NEW BOAT ON ORDER
Number of nulls: 21105

EXCL. VAT, PREORDERED, EXPECTED NOVEMBER 2023
Number of nulls: 21107

EXCL. VAT, PREORDERED, EXPECTED JUNE 2023
Number of nulls: 21103

CONDITIONS OF AVAILABILITY
Number of nulls: 21096

INCL. VAT, PREORDERED, EXPECTED DECEMBER 2023
Number of nulls: 21106

INCL. 7.7% SWISS VAT (CAN BE STATED SEPARATELY), PREORDERED
Number of nulls: 21104

BOAT SHARING
Number of nulls: 21102

EU TAXES PAID, PREORDERED
Number of nulls: 21102

INCL. VAT, PREORDERED, EXPECTED JUNE 2023
Number of nulls: 21101

INCL. VAT (CAN BE STATED SEPARATELY), PREORDERED, EXPECTED AUGUST 2023
Number of nulls: 21099

INCL. VAT (CAN BE STATED SEPARATELY), PREORDERED, EXPECTED OCTOBER 2023
Number of nulls: 21104

PREORDERED, EXPECTED MAY 2024
Number of nulls: 21103

INCL. VAT (CAN BE STATED SEPARATELY), PREORDERED, EXPECTED JULY 2023
Number of nulls: 21103

INCL. VAT (CAN BE STATED SEPARATELY), PREORDERED, EXPECTED NOVEMBER 2023
Number of nulls: 21105

INCL. 7.7% SWISS VAT, PREORDERED, EXPECTED JULY 2023
Number of nulls: 21105

PREORDERED, EXPECTED NOVEMBER 2023
Number of nulls: 21107

INCL. 7.7% SWISS VAT, PREORDERED, EXPECTED FEBRUARY 2024
Number of nulls: 21107

INCL. VAT (CAN BE STATED SEPARATELY), PREORDERED, EXPECTED SEPTEMBER 2023
Number of nulls: 21105

PREORDERED, EXPECTED JUNE 2023
Number of nulls: 21107

EXCL. VAT, PREORDERED, EXPECTED JULY 2024
Number of nulls: 21107

INCL. 7.7% SWISS VAT, PREORDERED, EXPECTED SEPTEMBER 2023
Number of nulls: 21104

INCL. 7.7% SWISS VAT, PREORDERED, EXPECTED JUNE 2023
Number of nulls: 21099

INCL. VAT (CAN BE STATED SEPARATELY), PREORDERED, EXPECTED SEPTEMBER 2024
Number of nulls: 21107

INCL. VAT, PREORDERED, EXPECTED FEBRUARY 2024
Number of nulls: 21107

INCL. VAT, EU TAXES PAID, NEW BOAT ON ORDER
Number of nulls: 21107

INCL. 7.7% SWISS VAT, PREORDERED, EXPECTED DECEMBER 2024
Number of nulls: 21107

(CAN BE STATED SEPARATELY)
Number of nulls: 21104

EXCL. VAT, PREORDERED, EXPECTED OCTOBER 2023
Number of nulls: 21107

INCL. 7.7% SWISS VAT, PREORDERED, EXPECTED SEPTEMBER 2024
Number of nulls: 21107

EXCL. VAT, PREORDERED, EXPECTED MARCH 2024
Number of nulls: 21107

PREORDERED, EXPECTED SEPTEMBER 2023
Number of nulls: 21106

AVAILABLE UNTIL
Number of nulls: 21103

INCL. 7.7% SWISS VAT (CAN BE STATED SEPARATELY), PREORDERED, EXPECTED JULY 2023
Number of nulls: 21107

INCL. VAT, PREORDERED, EXPECTED NOVEMBER 2023
Number of nulls: 21107

PREORDERED, EXPECTED OCTOBER 2023
Number of nulls: 21107

INCL. VAT (CAN BE STATED SEPARATELY), PREORDERED, EXPECTED JANUARY 2024
Number of nulls: 21106

INCL. VAT, PREORDERED, EXPECTED SEPTEMBER 2023
Number of nulls: 21107

INCL. 7.7% SWISS VAT, PREORDERED, EXPECTED AUGUST 2023
Number of nulls: 21107

INCL. VAT, PREORDERED, EXPECTED MARCH 2024
Number of nulls: 21107

PREORDERED, EXPECTED AUGUST 2023
Number of nulls: 21107

EXCL. VAT, PREORDERED, EXPECTED AUGUST 2023
Number of nulls: 21105

EXCL. VAT, PREORDERED, EXPECTED FEBRUARY 2024
Number of nulls: 21107

EXCL. VAT, PREORDERED, EXPECTED SEPTEMBER 2024
Number of nulls: 21107

EXCL. VAT, PREORDERED, EXPECTED MAY 2024
Number of nulls: 21106

EXCL. VAT, PREORDERED, EXPECTED JANUARY 2024
Number of nulls: 21107

MONTHLY RENT
Number of nulls: 21105

PREORDERED, EXPECTED JULY 2023
Number of nulls: 21106

EXCL. VAT, PREORDERED, EXPECTED JULY 2023
Number of nulls: 21107

PREORDERED, EXPECTED SEPTEMBER 2024
Number of nulls: 21107

INCL. VAT, PREORDERED, EXPECTED OCTOBER 2023
Number of nulls: 21107

PREORDERED, EXPECTED APRIL 2024
Number of nulls: 21107

INCL. VAT, PREORDERED, EXPECTED APRIL 2024
Number of nulls: 21107

INCL. 7.7% SWISS VAT, PREORDERED, EXPECTED NOVEMBER 2024
Number of nulls: 21107

INCL. VAT (CAN BE STATED SEPARATELY), PREORDERED, EXPECTED FEBRUARY 2024
Number of nulls: 21107

In [7]:
df.shape

(21108, 138)

Now we're going to get if the boats are used boats or new ones:

In [8]:
values_condition_isna = df.CONDITION.isna().sum()
values_condition = df.CONDITION.value_counts()
print(f'Number of null values: {values_condition_isna}')
print(values_condition.to_string())

Number of null values: 14927
good condition         2352
very good condition    1948
as new                 1280
fair condition          243
new                     185
used                     83
in need of repair        81
damaged                   9

Using the created function get_condition_from_style() we get rid of a lot of nulls in condition column:

In [9]:
df = get_condition_from_type(df)
values_condition_isna = df.CONDITION.isna().sum()
values_condition = df.CONDITION.value_counts()
print(f'Number of null values: {values_condition_isna}')
print(values_condition.to_string())

Number of null values: 1319
USED BOAT    12026
NEW BOAT      7763

With below function get_category(), we are creating a new column with the category of the boat (we extract the info from the link in the 'LINK' column):

In [10]:
df = get_category(df)

In [11]:
df.shape

(19906, 139)

In [12]:
df['CATEGORY'].value_counts()

powerboats         13707
sailingboats        4225
inflatableboats     1542
smallboats           255
equipment            177
Name: CATEGORY, dtype: int64

below function creates another column with the subcategory of each boat, extracted from the info we have in the column 'TYPE':

In [13]:
df = get_subcategory(df)

In [14]:
df['SUBCATEGORY'].value_counts()

Motor Yacht                 3045
Sport Boat                  2347
Sailing Yacht               2224
Cabin Cruiser               1388
RIB                         1235
Flybridge                   1228
Bowrider                     966
Hardtop                      693
Trawler                      611
Center Console               488
Classic Power Boat           394
Pilothouse                   381
Deck Boat                    353
Fishing Boat                 319
Wakeboard/Wakesurf           315
Catamaran                    310
Foldable Inflatable Boat     291
Keelboat                     284
Classic Sailing Yacht        274
Superyacht                   213
Cruising Yacht               193
Daysailer                    181
Regatta Boat                 165
UNKNOWN                      165
Sloep                        153
Houseboat                    143
Floating House               130
Runabout                     120
Dinghy                       109
Motorsailer                  106
Sailing Dinghy                98
Other                         98
Power Catamaran               77
Offshore Boat                 74
Utility Boat                  66
Personal Water Craft          66
Flat Bottom Boat              66
Ketch                         58
Pontoon Boat                  54
Center Cockpit                46
Rowing Boat                   43
Engine Accessories            41
Cruising Dinghy               38
Canoe                         37
Deck Saloon                   37
Sailing Superyacht            32
Passenger Ship                30
Gulet                         28
Water Ski                     27
Trimaran                      24
Spare Part                    12
Sails                          9
Waterski/Wake                  6
Safety                         4
On-Board Electricity           4
                               2
Fittings                       2
Pedalo                         2
Clothing                       1
Name: SUBCATEGORY, dtype: int64

Let's separate the 'LENGHT X BEAM' column in 2 diferent columns using a created function called get_lenght_beam():

In [15]:
df = get_lenght_beam(df)

Now we are going to work with the price column. as we saw before, there are still several nulls values in 'PRICE' column.

We've created a function that tries to find price values in other columns and add it to the main price one column:

In [16]:
df = get_price(df)

But many of the price values we have are in different currencies. Let's convert all of them to EUR with a new function called get_euros():

In [17]:
df.PRICE.value_counts()

Under Offer        155
EUR 120.000,-       83
EUR 45.000,-        80
EUR 65.000,-        79
EUR 125.000,-       77
                  ...
EUR 67.950,-         1
USD 1.684.000,-      1
EUR 147.851,-        1
EUR 10.650,-         1
EUR 46.999,-         1
Name: PRICE, Length: 5712, dtype: int64

In [18]:
df = get_euros(df)

In [19]:
df['YEAR BUILT'].isna().sum()

4370

Minimizing number of nulls in year of built using the created function get_year():

In [20]:
df = get_year(df)

In [21]:
df['YEAR BUILT'].isna().sum()

734

Droping all the rows that in the column 'TYPE' have any of the arguments listed after it:

In [22]:
df = drop_row_by_str(df, 'TYPE', 'Engine', 'engines','equipments', 'equipment', 'trailer', 'trailers', 'berths', 'Berth')

Finally, we drop the not needed columns with the created function drop_column_by_str() that drops all the columns containing any of the indicated str in it's name:

In [23]:
df = drop_column_by_str(df, 'VAT', 'PREORDERED', 'TAXES', 'X', 'CURRENCY', 'SALES', 'UNNAMED', 'RENT', 'UNTIL', 'SEPARATELY', 'EXCPECTED DELIVERY DATE', 'NEGOTIATION', 'AVAILABILITY', 'SHARING', 'ORDER', 'STARTING', 'PAY LOAD', 'PROPULSION', 'GENOA', 'GENNAKER', 'SPINNAKER', 'JIB', 'BOAT NAME', 'MAINSAIL', 'RANGE', 'SHOWERS', 'BOAT NAME', 'HOLDING TANK', 'NO. OF BATHROOMS', 'HEADROOM', 'TOILETS', 'BALLAST', 'STEERING', 'FUEL TANK', 'CRUISING SPEED', 'MODEL YEAR', 'HULL COLOR', 'FRESH WATER TANK', 'HULL TYPE', 'KEEL TYPE')

In [24]:
df

,ID,MODEL,TYPE,LOCATION,DISPLACEMENT,ENGINE,ENGINE PERFORMANCE,DESCRIPTION,LINK,YEAR BUILT,...,MANUFACTURER,CONDITION,CE DESIGN CATEGORY,ENGINE YEAR,WEIGHT,CATEGORY,SUBCATEGORY,LENGTH (m),BEAM (m),PRICE_EUR
0,520151,Bayliner VR6 CUDDY INBOARD,"<p class=""heading__title-header"">New Boat from...",Germany,1'722 kg,MERCRUISER,1 x 250 HP / 184 kW,nan,https://www.boat24.com/en/powerboats/bayliner/...,2023,...,nan,NEW BOAT,NaN,NaN,NaN,powerboats,Cabin Cruiser,6.82,2.45,65900
1,487909,Sunreef 74,"<p class=""heading__title-header"">Used Boat, <a...",Italy,70'000 kg,Yanmar,2 x 240 HP / 177 kW,nan,https://www.boat24.com/en/sailingboats/sunreef...,2015.0,...,nan,USED BOAT,NaN,NaN,NaN,sailingboats,Catamaran,23.0,10.4,2700000
2,542316,Beneteau Swift trawler 42,"<p class=""heading__title-header"">Used Boat, <a...",Italy,12'000 kg,Volvo Penta D4,2 x 300 HP / 221 kW,nan,https://www.boat24.com/en/powerboats/beneteau/...,2008.0,...,nan,USED BOAT,NaN,NaN,NaN,powerboats,Motor Yacht,12.17,4.2,220000
3,540325,Motortjalk 18.60,"<p class=""heading__title-header"">Used Boat, <a...",Netherlands,NaN,NaN,1 x 160 HP / 118 kW,nan,https://www.boat24.com/en/powerboats/motortjal...,1916.0,...,nan,USED BOAT,NaN,NaN,NaN,powerboats,Trawler,18.6,3.62,79500
4,245597,Boarncruiser 1200 Elegance,"<p class=""heading__title-header"">Catalog boat,...",NaN,NaN,1 x 150 HP,NaN,nan,https://www.boat24.com/en/catalog/powerboats/d...,2022.0,...,De Boarnstream,NEW BOAT,NaN,NaN,NaN,powerboats,Hardtop,12.16,3.95,UNKNOWN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21103,523255,Cremo 465 SC,"<p class=""heading__title-header"">Power Boat, <...",Denmark,260 kg,NaN,NaN,nan,https://www.boat24.com/en/powerboats/cremo/cre...,2022.0,...,nan,NaN,NaN,NaN,NaN,powerboats,Center Console,UNKNOWN,UNKNOWN,7566.0
21104,516949,Quicksilver Activ 605 Sundeck SUMMERDEAL,"<p class=""heading__title-header"">New Boat from...",Germany,NaN,Mercury,1 x 115 HP / 85 kW,Quicksilver Activ 605 Sundeck\r\nwith F115 XL ...,https://www.boat24.com/en/powerboats/quicksilv...,2023,...,nan,NEW BOAT,C - Inshore,NaN,NaN,powerboats,Sport Boat,5.94,2.4,46999
21105,420183,Spits 38.86,"<p class=""heading__title-header"">Used Boat, <a...",Netherlands,NaN,NaN,NaN,nan,https://www.boat24.com/en/powerboats/spits-388...,1955.0,...,nan,USED BOAT,NaN,NaN,NaN,powerboats,Utility Boat,38.86,5.05,159500
21106,539399,Chaparral Vortex 203 VRX,"<p class=""heading__title-header"">Used Boat, <a...",Germany,NaN,NaN,1 x 250 HP / 184 kW,CE certified wakeboard tower foldable with bim...,https://www.boat24.com/en/powerboats/chaparral...,2018.0,...,nan,USED BOAT,NaN,NaN,NaN,powerboats,Sport Boat,6.17,2.44,61500
21107,527745,Campi 360 Houseboat,"<p class=""heading__title-header"">Used Boat, <a...",Poland,5'000 kg,Yamaha High Trust Motor,1 x 9.0 HP / 6.6 kW,nan,https://www.boat24.com/en/powerboats/campi-360...,2023.0,...,nan,USED BOAT,D - Sheltered Waters,NaN,NaN,powerboats,Houseboat,11.7,3.6,105000

In [25]:
check_nulls(df)

ID
Number of nulls: 0

MODEL
Number of nulls: 1325

TYPE
Number of nulls: 165

LOCATION
Number of nulls: 2335

DISPLACEMENT
Number of nulls: 8457

ENGINE
Number of nulls: 4442

ENGINE PERFORMANCE
Number of nulls: 6002

DESCRIPTION
Number of nulls: 14031

LINK
Number of nulls: 0

YEAR BUILT
Number of nulls: 580

DRAUGHT
Number of nulls: 6706

MATERIAL
Number of nulls: 5692

NO. OF CABINS
Number of nulls: 10580

NO. OF BERTHS
Number of nulls: 10477

FUEL TYPE
Number of nulls: 5562

CERTIFIED NO. OF PERSONS
Number of nulls: 10968

ENGINE HOURS
Number of nulls: 13002

MANUFACTURER
Number of nulls: 17559

CONDITION
Number of nulls: 302

CE DESIGN CATEGORY
Number of nulls: 15432

ENGINE YEAR
Number of nulls: 17205

WEIGHT
Number of nulls: 18848

CATEGORY
Number of nulls: 0

SUBCATEGORY
Number of nulls: 0

LENGTH (m)
Number of nulls: 0

BEAM (m)
Number of nulls: 0

PRICE_EUR
Number of nulls: 0

In [26]:
df[['DISPLACEMENT', 'WEIGHT', 'LINK']][df['WEIGHT'].notna()].sample(40)

,DISPLACEMENT,WEIGHT,LINK
6911,NaN,31 kg,https://www.boat24.com/en/inflatableboats/zarm...
12060,NaN,800 kg,https://www.boat24.com/en/inflatableboats/zar-...
16700,NaN,94 kg,https://www.boat24.com/en/smallboats/linder/li...
17796,NaN,34 kg,https://www.boat24.com/en/inflatableboats/ab-i...
12233,NaN,59 kg,https://www.boat24.com/en/inflatableboats/yam/...
16952,NaN,93 kg,https://www.boat24.com/en/inflatableboats/zarm...
20943,NaN,333 kg,https://www.boat24.com/en/smallboats/yamaha/ya...
3423,NaN,600 kg,https://www.boat24.com/en/inflatableboats/joke...
11888,NaN,34 kg,https://www.boat24.com/en/inflatableboats/allr...
17044,NaN,790 kg,https://www.boat24.com/en/inflatableboats/zodi...
19247,NaN,1'550 kg,https://www.boat24.com/en/inflatableboats/stin...
2944,NaN,320 kg,https://www.boat24.com/en/inflatableboats/will...
9363,NaN,300 kg,https://www.boat24.com/en/inflatableboats/zar-...
13192,NaN,355 kg,https://www.boat24.com/en/smallboats/sea-doo/s...
15146,NaN,1'325 kg,https://www.boat24.com/en/inflatableboats/cape...
11570,NaN,33 kg,https://www.boat24.com/en/inflatableboats/zodi...
1280,NaN,470 kg,https://www.boat24.com/en/inflatableboats/bomb...
3506,NaN,18 kg,https://www.boat24.com/en/smallboats/verano-ca...
18468,NaN,3'000 kg,https://www.boat24.com/en/inflatableboats/flye...
3693,NaN,940 kg,https://www.boat24.com/en/inflatableboats/brig...
13157,NaN,68 kg,https://www.boat24.com/en/inflatableboats/zodi...
53,NaN,273 kg,https://www.boat24.com/en/inflatableboats/zodi...
16228,NaN,650 kg,https://www.boat24.com/en/inflatableboats/aqua...
17723,NaN,17 kg,https://www.boat24.com/en/inflatableboats/3d-t...
8076,NaN,1'057 kg,https://www.boat24.com/en/inflatableboats/cape...
19054,NaN,35 kg,https://www.boat24.com/en/inflatableboats/quic...
10334,NaN,77 kg,https://www.boat24.com/en/inflatableboats/brig...
15660,NaN,320 kg,https://www.boat24.com/en/inflatableboats/zar-...
2427,NaN,1'350 kg,https://www.boat24.com/en/inflatableboats/zodi...
13158,NaN,467 kg,https://www.boat24.com/en/smallboats/sea-doo/s...
5484,NaN,90 kg,https://www.boat24.com/en/inflatableboats/hond...
20324,NaN,250 kg,https://www.boat24.com/en/inflatableboats/brig...
3448,NaN,801 kg,https://www.boat24.com/en/inflatableboats/zodi...
9113,NaN,950 kg,https://www.boat24.com/en/inflatableboats/zodi...
16631,NaN,120 kg,https://www.boat24.com/en/smallboats/pioner/pi...
4850,NaN,3'400 kg,https://www.boat24.com/en/inflatableboats/fami...
10409,NaN,3'700 kg,https://www.boat24.com/en/inflatableboats/roug...
8729,NaN,44 kg,https://www.boat24.com/en/inflatableboats/grab...
6394,NaN,31 kg,https://www.boat24.com/en/inflatableboats/allr...
15859,NaN,60 kg,https://www.boat24.com/en/inflatableboats/seat...

In [27]:
df.CATEGORY.value_counts()

powerboats         13707
sailingboats        4225
inflatableboats     1542
smallboats           255
Name: CATEGORY, dtype: int64

In [28]:
#df = df.drop(df[df['CATEGORY'] == 'inflatableboats'].index)
#df = df.drop(df[df['CATEGORY'] == 'smallboats'].index)

In [29]:
df = get_manufacturer(df)

In [30]:
check_nulls(df)

ID
Number of nulls: 0

MODEL
Number of nulls: 1325

TYPE
Number of nulls: 165

LOCATION
Number of nulls: 2335

DISPLACEMENT
Number of nulls: 8457

ENGINE
Number of nulls: 4442

ENGINE PERFORMANCE
Number of nulls: 6002

DESCRIPTION
Number of nulls: 14031

LINK
Number of nulls: 0

YEAR BUILT
Number of nulls: 580

DRAUGHT
Number of nulls: 6706

MATERIAL
Number of nulls: 5692

NO. OF CABINS
Number of nulls: 10580

NO. OF BERTHS
Number of nulls: 10477

FUEL TYPE
Number of nulls: 5562

CERTIFIED NO. OF PERSONS
Number of nulls: 10968

ENGINE HOURS
Number of nulls: 13002

MANUFACTURER
Number of nulls: 1325

CONDITION
Number of nulls: 302

CE DESIGN CATEGORY
Number of nulls: 15432

ENGINE YEAR
Number of nulls: 17205

WEIGHT
Number of nulls: 18848

CATEGORY
Number of nulls: 0

SUBCATEGORY
Number of nulls: 0

LENGTH (m)
Number of nulls: 0

BEAM (m)
Number of nulls: 0

PRICE_EUR
Number of nulls: 0

In [31]:
df.MANUFACTURER.value_counts()

nan            1325
Quicksilver     612
Jeanneau        586
Beneteau        479
Bavaria         430
               ...
CENIT             1
Arbeitsboot       1
Tenbroke          1
High              1
Cenmarine         1
Name: MANUFACTURER, Length: 2836, dtype: int64

In [32]:
df.MATERIAL.value_counts()

GRP             10438
Steel            1169
Wood              690
Aluminium         667
PVC               498
Hypalon           330
Carbon Fiber      193
Rubber             42
Ferro Cement       10
Name: MATERIAL, dtype: int64

In [33]:
df = get_material(df)

In [34]:
check_nulls(df)

ID
Number of nulls: 0

MODEL
Number of nulls: 1325

TYPE
Number of nulls: 165

LOCATION
Number of nulls: 2335

DISPLACEMENT
Number of nulls: 8457

ENGINE
Number of nulls: 4442

ENGINE PERFORMANCE
Number of nulls: 6002

DESCRIPTION
Number of nulls: 14031

LINK
Number of nulls: 0

YEAR BUILT
Number of nulls: 580

DRAUGHT
Number of nulls: 6706

MATERIAL
Number of nulls: 5494

NO. OF CABINS
Number of nulls: 10580

NO. OF BERTHS
Number of nulls: 10477

FUEL TYPE
Number of nulls: 5562

CERTIFIED NO. OF PERSONS
Number of nulls: 10968

ENGINE HOURS
Number of nulls: 13002

MANUFACTURER
Number of nulls: 1325

CONDITION
Number of nulls: 302

CE DESIGN CATEGORY
Number of nulls: 15432

ENGINE YEAR
Number of nulls: 17205

WEIGHT
Number of nulls: 18848

CATEGORY
Number of nulls: 0

SUBCATEGORY
Number of nulls: 0

LENGTH (m)
Number of nulls: 0

BEAM (m)
Number of nulls: 0

PRICE_EUR
Number of nulls: 0

In [35]:
df2 = df[['MODEL','MANUFACTURER']][(df['MANUFACTURER'].isna()) | (df['MANUFACTURER'] == 'nan')]
df2.shape

(1325, 2)

In [36]:

df[['MODEL','MANUFACTURER']][((df['MODEL'].notna()) | (df['MODEL'] != 'nan')) & (df['MANUFACTURER'].isna()) | (df['MANUFACTURER'] == 'nan')].sample(150)

      MODEL MANUFACTURER
17719   nan          nan
17077   nan          nan
1161    nan          nan
7606    nan          nan
8447    nan          nan
...     ...          ...
14957   nan          nan
7471    nan          nan
3182    nan          nan
16266   nan          nan
6256    nan          nan

[150 rows x 2 columns]

In [37]:
df = column_type(df, str, 'ENGINE','ENGINE PERFORMANCE')

In [38]:
df = get_engine_details(df)

In [39]:
df

,ID,MODEL,TYPE,LOCATION,DISPLACEMENT,ENGINE,ENGINE PERFORMANCE,DESCRIPTION,LINK,YEAR BUILT,...,ENGINE YEAR,WEIGHT,CATEGORY,SUBCATEGORY,LENGTH (m),BEAM (m),PRICE_EUR,NUM_ENGINES,ENGINE_HP,ENGINE_KW
0,520151,Bayliner VR6 CUDDY INBOARD,"<p class=""heading__title-header"">New Boat from...",Germany,1'722 kg,MERCRUISER,1 x 250 HP / 184 kW,nan,https://www.boat24.com/en/powerboats/bayliner/...,2023,...,NaN,NaN,powerboats,Cabin Cruiser,6.82,2.45,65900,1,250.0,184.0
1,487909,Sunreef 74,"<p class=""heading__title-header"">Used Boat, <a...",Italy,70'000 kg,Yanmar,2 x 240 HP / 177 kW,nan,https://www.boat24.com/en/sailingboats/sunreef...,2015.0,...,NaN,NaN,sailingboats,Catamaran,23.0,10.4,2700000,2,240.0,177.0
2,542316,Beneteau Swift trawler 42,"<p class=""heading__title-header"">Used Boat, <a...",Italy,12'000 kg,Volvo Penta D4,2 x 300 HP / 221 kW,nan,https://www.boat24.com/en/powerboats/beneteau/...,2008.0,...,NaN,NaN,powerboats,Motor Yacht,12.17,4.2,220000,2,300.0,221.0
3,540325,Motortjalk 18.60,"<p class=""heading__title-header"">Used Boat, <a...",Netherlands,NaN,nan,1 x 160 HP / 118 kW,nan,https://www.boat24.com/en/powerboats/motortjal...,1916.0,...,NaN,NaN,powerboats,Trawler,18.6,3.62,79500,1,160.0,118.0
4,245597,Boarncruiser 1200 Elegance,"<p class=""heading__title-header"">Catalog boat,...",NaN,NaN,1 x 150 HP,nan,nan,https://www.boat24.com/en/catalog/powerboats/d...,2022.0,...,NaN,NaN,powerboats,Hardtop,12.16,3.95,UNKNOWN,1,150.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21103,523255,Cremo 465 SC,"<p class=""heading__title-header"">Power Boat, <...",Denmark,260 kg,nan,nan,nan,https://www.boat24.com/en/powerboats/cremo/cre...,2022.0,...,NaN,NaN,powerboats,Center Console,UNKNOWN,UNKNOWN,7566.0,1,None,None
21104,516949,Quicksilver Activ 605 Sundeck SUMMERDEAL,"<p class=""heading__title-header"">New Boat from...",Germany,NaN,Mercury,1 x 115 HP / 85 kW,Quicksilver Activ 605 Sundeck\r\nwith F115 XL ...,https://www.boat24.com/en/powerboats/quicksilv...,2023,...,NaN,NaN,powerboats,Sport Boat,5.94,2.4,46999,1,115.0,85.0
21105,420183,Spits 38.86,"<p class=""heading__title-header"">Used Boat, <a...",Netherlands,NaN,nan,nan,nan,https://www.boat24.com/en/powerboats/spits-388...,1955.0,...,NaN,NaN,powerboats,Utility Boat,38.86,5.05,159500,1,None,None
21106,539399,Chaparral Vortex 203 VRX,"<p class=""heading__title-header"">Used Boat, <a...",Germany,NaN,nan,1 x 250 HP / 184 kW,CE certified wakeboard tower foldable with bim...,https://www.boat24.com/en/powerboats/chaparral...,2018.0,...,NaN,NaN,powerboats,Sport Boat,6.17,2.44,61500,1,250.0,184.0
21107,527745,Campi 360 Houseboat,"<p class=""heading__title-header"">Used Boat, <a...",Poland,5'000 kg,Yamaha High Trust Motor,1 x 9.0 HP / 6.6 kW,nan,https://www.boat24.com/en/powerboats/campi-360...,2023.0,...,NaN,NaN,powerboats,Houseboat,11.7,3.6,105000,1,90.0,66.0

In [40]:
df = convert_value_type(df, str, 'DESCRIPTION', 'MODEL', 'MANUFACTURER')

In [41]:
df = get_draught(df)

In [42]:
df.DRAUGHT.unique()

array([nan, '2.40', '1.20', '1.10', '0.85', '1.52', '0.46', '0.40',
       '1.26', '0.60', '1.00', '0.90', '1.80', '0.80', '1.25', '0.71',
       '1.04', '0.42', '2.82', '0.49', '0.98', '0.97', '0.74', '0.48',
       '1.77', '0.45', '1.50', '3.25', '1.15', '0.20', '0.81', '0.70',
       '0.51', '2.20', '2.28', '2.14', '1.68', '1.30', '2.63', '2.50',
       '1.37', '2.30', '1.55', '1.05', '2.55', '1.70', '2.05', '0.53',
       '0.50', '0.34', '1.35', '0.15', '2.00', '0.94', '2.52', '1.78',
       '1.40', '0.88', '0.25', '1.90', '0.55', '1.06', '1.27', '2.10',
       '1.85', '1.02', '2.02', '1.95', '1.91', '1.51', '0.95', '0.37',
       '0.89', '4.00', '0.79', '0.86', '1.09', '0.68', '1.63', '2.25',
       '0.69', '1.08', '0.10', '0.56', '1.16', '2.07', '0.75', '4.60',
       '0.65', '0.26', '1.71', '1.45', '0.64', '0.66', '0.30', '1.60',
       '1.65', '1.14', '0.91', '1.98', '0.43', '1.67', '0.83', '1.17',
       '2.90', '2.60', '2.45', '0.76', '0.96', '2.70', '0.22', '1.72',
       '2.80', '', '1.11', '0.39', '4.90', '0.44', '2.22', '0.58', '1.36',
       '1.81', '1.54', '0.92', '1.53', '1.24', '0.38', '1.82', '2.26',
       '0.52', '1.49', '1.94', '2.15', '1.38', '1.13', '2.08', '1.29',
       '1.58', '1.97', '1.21', '1.32', '0.99', '0.35', '1.28', '1.73',
       '0.41', '1.74', '1.92', '0.54', '1.03', '1.66', '2.83', '4.45',
       '0.84', '2.03', '1.48', '0.63', '1.18', '2.84', '0.61', '0.82',
       '3.97', '1.46', '1.42', '1.75', '2.35', '3.40', '0.93', '1.22',
       '3.41', '3.50', '1.57', '3.90', '2.06', '1.61', '1.33', '2.85',
       '3.00', '2.51', '1.23', '0.73', '2.27', '1.47', '2.41', '1.99',
       '1.76', '0.28', '3.10', '1.41', '0.87', '3.15', '0.33', '1.07',
       '0.36', '2.47', '1.12', '1.19', '3.60', '3.30', '2.75', '2.74',
       '3.35', '2.95', '0.72', '0.77', '3.46', '5.00', '1.79', '1.59',
       '1.83', '1.44', '1.96', '1.64', '1.62', '2.24', '2.37', '2.65',
       '6.40', '2.59', '1.34', '3.80', '2.68', '0.21', '1.31', '1.43',
       '2.23', '0.59', '2.36', '4.70', '2.13', '1.56', '1.69', '3.18',
       '2.04', '2.33', '2.71', '2.18', '3.05', '2.12', '3.70', '2.76',
       '0.67', '0.27', '0.78', '3.85', '1.93', '3.37', '4.40', '3.20',
       '1.01', '1.88', '0.12', '0.11', '4.07', '2.44', '4.50', '2.98',
       '1.87', '4.78', '1.86', '4.28', '0.47', '1.89', '0.17', '4.65',
       '0.18', '2.09', '7.40', '0.62', '0.57', '2.69', '2.11', '2.01',
       '2.88', '2.38', '3.47', '2.29', '2.32', '2.89', '0.29', '4.19',
       '3.17', '2.31', '0.14', '4.20', '2.16', '4.63', '2.77', '2.43',
       '0.32', '4.29', '2.56', '2.39', '3.24', '2.66', '2.17', '0.23',
       '3.08', '2.54', '30.00', '0.31', '2.46', '2.67', '3.65', '4.75',
       '2.99', '9.00', '2.57', '0.01', '2.97', '2.58', '2.19', '2.87',
       '3.78', '1.39', '1.84', '3.66', '3.36', '2.62', '2.34', '2.86',
       '3.02', '3.04', '3.74', '0.16', '3.58', '40.00', '4.10', '3.09',
       '4.16', '4.15', '2.42', '2.94', '7.00', '2.53', '2.49', '3.53',
       '3.52', '20.98', '3.79', '2.21', '2.91', '0.19'], dtype=object)

In [43]:
df.DRAUGHT.unique()
df = convert_value_type(df,float, 'DRAUGHT')

In [44]:
df_cleaned = df[['ID', 'LOCATION', 'CONDITION', 'MODEL', 'MANUFACTURER', 'YEAR BUILT', 'CATEGORY', 'SUBCATEGORY', 'MATERIAL', 'LENGTH (m)', 'BEAM (m)', 'DRAUGHT', 'NUM_ENGINES', 'ENGINE_HP', 'ENGINE_KW', 'PRICE_EUR', 'LINK']]
df_cleaned.drop(df_cleaned[df_cleaned['PRICE_EUR'] == 'UNKNOWN'].index, inplace=True)
df_cleaned.shape

/var/folders/cg/d0ycw3dj0s35gf2j2s06p71c0000gn/T/ipykernel_2333/4067614236.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned.drop(df_cleaned[df_cleaned['PRICE_EUR'] == 'UNKNOWN'].index, inplace=True)

(17688, 17)

In [45]:
df_cleaned['YEAR BUILT'] = pd.to_numeric(df_cleaned['YEAR BUILT'], errors='coerce').astype('Int64')

/var/folders/cg/d0ycw3dj0s35gf2j2s06p71c0000gn/T/ipykernel_2333/3328241418.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['YEAR BUILT'] = pd.to_numeric(df_cleaned['YEAR BUILT'], errors='coerce').astype('Int64')

In [46]:
check_nulls(df_cleaned)

ID
Number of nulls: 0

LOCATION
Number of nulls: 1105

CONDITION
Number of nulls: 207

MODEL
Number of nulls: 1144

MANUFACTURER
Number of nulls: 1144

YEAR BUILT
Number of nulls: 471

CATEGORY
Number of nulls: 0

SUBCATEGORY
Number of nulls: 0

MATERIAL
Number of nulls: 4129

LENGTH (m)
Number of nulls: 0

BEAM (m)
Number of nulls: 0

DRAUGHT
Number of nulls: 6085

NUM_ENGINES
Number of nulls: 0

ENGINE_HP
Number of nulls: 4078

ENGINE_KW
Number of nulls: 4471

PRICE_EUR
Number of nulls: 0

LINK
Number of nulls: 0

In [47]:
df_test = df_cleaned.fillna(np.nan)
df_test = df_test.dropna()
df_test = df_test[~(df_test == 'UNKNOWN').any(axis=1)]
df_test.shape

(7690, 17)

In [48]:
list(df_test['DRAUGHT'].unique())

[2.4,
 1.1,
 1.52,
 0.4,
 0.6,
 1.0,
 0.9,
 0.8,
 1.25,
 0.42,
 0.48,
 0.45,
 1.15,
 0.74,
 2.2,
 2.14,
 1.3,
 1.37,
 2.3,
 0.2,
 1.55,
 1.05,
 1.7,
 1.2,
 2.05,
 0.53,
 0.5,
 0.34,
 2.0,
 1.8,
 0.94,
 0.85,
 1.5,
 1.4,
 0.25,
 1.78,
 2.1,
 1.85,
 1.02,
 1.95,
 0.95,
 0.55,
 0.7,
 0.49,
 1.09,
 0.68,
 1.08,
 0.88,
 2.07,
 0.98,
 4.6,
 2.5,
 0.65,
 0.26,
 1.71,
 1.45,
 0.66,
 1.6,
 1.65,
 1.14,
 0.91,
 1.9,
 1.98,
 0.3,
 0.43,
 0.64,
 0.83,
 0.97,
 2.7,
 1.72,
 0.75,
 2.9,
 0.86,
 0.58,
 1.36,
 0.89,
 1.54,
 1.53,
 1.24,
 2.25,
 1.35,
 1.67,
 1.49,
 2.15,
 1.38,
 1.13,
 2.08,
 0.99,
 0.81,
 0.71,
 0.76,
 1.73,
 0.69,
 0.41,
 0.38,
 2.6,
 1.68,
 1.74,
 0.22,
 1.03,
 0.84,
 2.03,
 0.61,
 0.79,
 1.46,
 1.75,
 2.35,
 0.93,
 1.22,
 0.96,
 3.4,
 3.5,
 1.57,
 0.44,
 1.21,
 2.06,
 1.61,
 1.51,
 4.9,
 2.8,
 1.04,
 1.27,
 3.0,
 1.82,
 2.51,
 2.41,
 1.23,
 1.41,
 0.63,
 0.87,
 2.85,
 1.58,
 3.15,
 0.33,
 0.46,
 1.16,
 0.54,
 0.36,
 2.47,
 0.51,
 3.6,
 0.56,
 3.3,
 2.74,
 2.95,
 1.28,
 1.11,
 1.77,
 0.52,
 5.0,
 0.35,
 1.12,
 1.59,
 1.97,
 1.26,
 2.22,
 1.62,
 2.37,
 0.82,
 1.83,
 1.31,
 1.17,
 2.36,
 1.56,
 1.47,
 1.64,
 1.69,
 1.07,
 0.92,
 2.18,
 1.43,
 0.27,
 1.42,
 0.78,
 1.91,
 3.85,
 1.06,
 2.24,
 3.37,
 4.4,
 2.52,
 1.88,
 1.48,
 1.63,
 2.04,
 1.81,
 2.59,
 0.37,
 2.44,
 2.23,
 0.72,
 2.98,
 3.1,
 1.93,
 1.87,
 2.65,
 3.7,
 4.28,
 2.75,
 0.47,
 1.89,
 2.09,
 1.76,
 0.67,
 2.26,
 4.7,
 1.19,
 1.99,
 3.2,
 0.57,
 3.8,
 2.69,
 2.11,
 1.44,
 2.88,
 2.38,
 3.47,
 2.29,
 0.59,
 1.96,
 0.29,
 1.29,
 1.32,
 2.31,
 1.18,
 1.66,
 0.15,
 4.2,
 2.55,
 3.9,
 2.16,
 4.63,
 0.62,
 2.43,
 2.45,
 0.32,
 0.14,
 2.66,
 1.01,
 2.71,
 1.79,
 0.73,
 2.54,
 30.0,
 0.31,
 2.12,
 2.67,
 3.65,
 2.99,
 9.0,
 2.57,
 4.0,
 2.97,
 2.58,
 2.27,
 3.18,
 2.19,
 2.83,
 0.77,
 2.87,
 2.82,
 1.39,
 1.92,
 2.13,
 0.1,
 1.84,
 3.36,
 0.17,
 1.33,
 2.34,
 3.04,
 2.01,
 0.28,
 3.58,
 2.46,
 40.0,
 1.34,
 3.09,
 2.28,
 3.46,
 0.39,
 1.86,
 4.15,
 2.42,
 2.53,
 2.33,
 1.94,
 4.1,
 0.19,
 3.79]

In [49]:
df_cleaned['YEAR BUILT'] = pd.to_numeric(df_cleaned['YEAR BUILT'], errors='coerce').astype('Int64')

/var/folders/cg/d0ycw3dj0s35gf2j2s06p71c0000gn/T/ipykernel_2333/3328241418.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['YEAR BUILT'] = pd.to_numeric(df_cleaned['YEAR BUILT'], errors='coerce').astype('Int64')

In [50]:
df_cleaned.to_csv("../CSV/df_cleaned_with_nulls.csv")

In [51]:
df_test.to_csv("../CSV/df_cleaned_without_nulls.csv")

In [52]:
unknown_mask = df_test == 'UNKNOWN'
unknown_locations = unknown_mask.any(axis=1)

print(df_test[unknown_locations])

Empty DataFrame
Columns: [ID, LOCATION, CONDITION, MODEL, MANUFACTURER, YEAR BUILT, CATEGORY, SUBCATEGORY, MATERIAL, LENGTH (m), BEAM (m), DRAUGHT, NUM_ENGINES, ENGINE_HP, ENGINE_KW, PRICE_EUR, LINK]
Index: []

In [53]:
df_test.DRAUGHT.dtype

dtype('float64')